<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picking FRC</title>

    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<div class="coletor">

    <div class="topo">
        <span id="hora"></span>
        <span>🔋78%</span>
    </div>  

<div class="conteudo">

        <div class="titulo">
            Cubed Picking
        </div>

        <br>

        <div class="campo">
            <span>Task Nbr:</span>
        </div>

        <div class="entrada-picking">
            <input
                type="text"
                id="entrada"
                inputmode="none"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                maxlength="10"
                autofocus
            >
        </div>

    </div>

</div>

<script src="../static/rf.js"></script>
<script src="../static/pickingFRC.js"></script>

</body>
</html>
</body>
</html>