<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stage</title>

    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<div class="coletor">

    <div class="topo">
        <span id="hora"></span>
        <span>🔋78%</span>
    </div>

    <div class="conteudo">

        <div class="titulo">
            RF Consolidate
        </div>

        <br>

        <div class="linha-info">
            <span>Container:</span>
        </div>

        <div id="container" class="codigo">
            
        </div>

        <br>

        <div class="linha-info">
            <span>Location :</span>
        </div>

        <div id="location" class="codigo">
            
        </div>

        <div class="linha" style="margin-top:8px;">

            <input
                type="text"
                id="stage"
                class="qty-grande"
                inputmode="none"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                maxlength="7"
                autofocus
            >

            <input
                type="text"
                id="lc"
                class="qty-pequeno"
                inputmode="none"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                maxlength="2"
            >

        </div>

    </div>

</div>

<script src="../static/tarefas.js"></script>
<script src="../static/rf.js"></script>
<script src="../static/stage.js"></script>

</body>
</html>